
    /*  -- main part */
    @media only screen and (min-width:576px) and (max-width:991px){
        /* navbar */
              nav ul {
        position: absolute;
        top: 60px;
        left: -100%;
        flex-direction: column;
        background: #333;
        width: 100%;
        transition: 0.3s;
      }

      nav ul.show {
        left: 0;
      }

      nav ul li {
        width: 100%;
      }

      nav ul li ul {
        position: static;
      }

      nav ul li:hover ul {
        display: none; /* Disable hover on mobile */
      }

      nav ul li.active ul {
        display: flex; /* Open dropdown on click */
      }
         .menu-toggle {
        display: flex;
      }
    }
    /* services section */
        .service-1{
            margin: 20px;
        }
 
    
    @media only screen and (min-width:200px) and (max-width:575px){
        /* navbar */
              nav ul {
        position: absolute;
        top: 60px;
        left: -100%;
        flex-direction: column;
        background: #333;
        width: 100%;
        transition: 0.3s;
      }

      nav ul.show {
        left: 0;
      }

      nav ul li {
        width: 100%;
      }

      nav ul li ul {
        position: static;
      }

      nav ul li:hover ul {
        display: none; /* Disable hover on mobile */
      }

      nav ul li.active ul {
        display: flex; /* Open dropdown on click */
      }
         .menu-toggle {
        display: flex;
      }
      .banner{
        width: 100%;
        padding: 50px;
      }
      .banner-head{
        width: 100%;
        font-size: 15px;
      }
      .banner-p{
        width: 100%;
      }
      .btn4{
margin: 0;
      }
      .btn3{
        margin: 0;
      }
      .service-1 {
        width: 75%;
      }
      .selection-title h2{
        font-size: 45px;
      }
      .about-img{
        width: 100%;
        height: 300px;
      }
      .about-p{
         width: 100%;
         margin-top: 250px;
        margin-right: 15px;
      }
      .row{
        display: flex;
        justify-content: center;
      }
      .member{
        width: 500px;
        margin: 15px;
      } 
      .member img{
        width: 450px;
      }
      .selection-title1 h2{
        font-size: 35px;
        margin-top: 10px;
      }
    .box1{
      width: 450px;
      margin: 20px;
    }
 
    /* services section */
        .service-1{
            margin: 10px;
        }
        .testimonials{
          display: flex;
          flex-wrap: wrap;
        }
         .testimonial{
          width: 300px;
         }
    }
    