            * {
         margin: 0;
         padding: 0;
         box-sizing: border-box;
         font-family: Arial, sans-serif;
     }



     /* Navbar styles */
     nav {
         background: #131313;
         color: #fff;
         padding: 22px 20px;
         height: 90px;
     }

     nav .logo {
         font-size: 20px;
         font-weight: bold;
     }

     nav ul {
         list-style: none;
         display: flex;
         align-items: center;
     }

     nav ul li {
         position: relative;
     }

     nav ul li a {
         text-decoration: none;
         color: #fff;
         padding: 10px 15px;
         display: block;
         font-size: 20px;
     }

     nav ul li a:hover {
         color: blue;
     }

     /* Dropdown menu */
     nav ul li ul {
         position: absolute;
         top: 100%;
         left: 0;
         background: #444;
         display: none;
         flex-direction: column;
         min-width: 150px;
     }

     nav ul li:hover ul {
         display: block;
     }

     /* Navbar container */
     .navbar {
         display: flex;
         justify-content: space-between;
         align-items: center;
     }

     /* Hamburger */
     .menu-toggle {
         display: none;
         flex-direction: column;
         cursor: pointer;
     }

     .menu-toggle div {
         width: 25px;
         height: 3px;
         background: white;
         margin: 4px 0;
     }
    /*--- footer--- */
       footer {
      background: #111827;
      color: #fff;
      padding: 40px 20px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 30px;
    }
    footer h3 {
      margin-bottom: 15px;
      font-size: 18px;
      border-bottom: 2px solid #e63946;
      display: inline-block;
      padding-bottom: 5px;
    }
    footer p {
      font-size: 14px;
      line-height: 22px;
      color: #ccc;
    }
    footer ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    footer ul li {
      margin: 8px 0;
    }
    footer ul li a {
      color: #ccc;
      text-decoration: none;
      font-size: 14px;
      transition: 0.3s;
    }
    footer ul li a:hover {
      color: #fff;
    }
    .social-icons a {
      display: inline-block;
      margin: 0 8px;
      color: #ccc;
      font-size: 18px;
      transition: 0.3s;
      text-decoration: none;
    }
    .social-icons a:hover {
      color: #fff;
    }
    .footer-bottom {
      text-align: center;
      padding: 15px;
      background: #0f172a;
      font-size: 13px;
      color: #999;
    } 